body {
  font-family: sans-serif;
}

html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}
